#c-sharp, #css, #java, #php, #ruby {
  display: none;
}

body {
  font-family: 'VT323', monospace;
  font-size: 20px;
  background-color: black;
  color: #42bf48;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.button {
  text-align: center;
}

.dialogue {
  margin-top: 10px;
  text-align: justify;
  padding: 1%;
}

.question {
  margin-top: 50px;
}

.results {
  margin-top: 20px;
  padding: 5%;
  text-align: justify;
}

.results-card {
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: black;
  border-color: #42bf48;
}

.btn {
  background-color: #0000ff;
  margin-top: 20px;
  font-size: 50px;
  color: #42bf48;
}
