#c-sharp, #css, #java, #php, #ruby {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.question {
  margin-top: 50px;
}

.results {
  color: red;
}

button {
  background-color: #77e3e5;
  margin-top: 20px;
}
